/* body*/
body {
    margin: 0;
    border: 0;
    width: 1500px;
    height: auto;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;

}

/* header*/
header {
    width: 1500px;
    height: 59px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 5px;
    background-color: black;
    margin: 0;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 0;

}

/*section*/
.fotoiguanagrande img {
    width: 1500px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: black;
}

/*section*/
.historia {
    background-color: black;
    padding-bottom: 45px;

}

.historia div {
    width: 70%;
    display: flow-root;
    margin: auto;
}

.historia img {
    float: right;
    width: 399px;
    height: 237px;
    padding-left: 100px;

}

.historia div .parrafo1 {
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-right: 150px;
    font-weight: lighter;
}

.historia .parrafo2 {
    padding-top: 1px;
    margin-top: 0px;
    color:white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;

}

/*caracteristicas*/
.caracteristicas {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #1E1A13;
    width: 1500px;
    height: 348px;
    padding: 10px;

}

.caracteristicas .contenedor {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: #1E1A13;
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-top: 40px;
}

.caracteristicas .grupo {
    width: 60%;
    margin: auto;
    background-color: #1E1A13;
}

/*section*/
.grupofotos {
    width: 1280px;
    display: inline-block;
    margin: 50px;
    margin-bottom: 30px;
    background-color: black;
    padding-left: 200px;
}

.grupofotos .tresfotos img {
    width: 316px;
    height: 202px;
    float: left;
    padding: 8px;

}

/*footer*/
footer {
    width: 100%;
    height: 102px;
    background-color: #1E1A13;
    margin-bottom: 0px;

}

footer p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    line-height: 102px;
    margin-bottom: 0px;
}